body {
    background-image: url(/assets/media/images/fondo\ formulario.webp);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
}

        .formLogin {
            font-family: Arial, sans-serif;
        }
        
        .container-formulario {
            opacity: 0.87;
            width: 500px;
            margin: 40px auto;
            background: #fff;
            padding: 24px;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .container-formulario:focus-within {
            opacity: 1;
        }

        .container-formulario:hover {
            opacity: 1;
        }

        h2.titulo-formulario {
            text-align: center;
            margin-bottom: 24px;
        }

        label {
            display: block;
            margin-bottom: 6px;
            font-size: 1.2rem;
        }

        .input1,
        #documento {
            width: 96%;
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #documento {
            font-size: 1.1rem;
        }

        .button1 {
            width: 100%;
            padding: 10px;
            background: black;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 1.1rem;
            cursor: pointer;
        }

        .button1:hover {
            background: #bae1f7;
            color: black;
        } 

        .checkbox-label {
            white-space: nowrap;
            display: flex;
            align-items: start;
            /* Centra verticalmente checkbox y texto */
            gap: 2px;
            /* Espacio entre checkbox y texto */
            justify-content: flex-start;
        }

        .checkbox1 {
            margin-right: 20px;
            margin-bottom: 20px;
            transform: scale(1.2);
            /* Quita márgenes extra del checkbox */
        }

        .checkbox-input {
            margin: 0;
            /* Quita márgenes extra del checkbox  */
        }