body {
            background-image: url(/assets/media/images/inicioSesion.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 55rem;
        }

        .formRegistro{
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            background: #fff;
            padding: 2rem 2.5rem;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            width: 400px;
            opacity: 0.8;
            margin-top: 100px;
            margin-bottom: 150px;
            height: 450px;
        }

        .login-container:hover {
            opacity: 1;
        }

        .login-container:focus-within {
            opacity: 1;
        }
        .login-container h2 {
            text-align: center;
            margin-bottom: 1.5rem;
            color: #333;
            font-size: 1.9rem;
        }
        .form-group {
            margin-bottom: 1.2rem;
        }
        label {
            display: block;
            margin-bottom: 0.4rem;
            color: #555;
            margin-top: 30px;
            font-size: 1.2rem;
        }
        .input1,
        .input2 {
            width: 100%;
            padding: 0.6rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
            margin-top: 20px;
        }
        .login-btn {
            width: 100%;
            padding: 0.7rem;
            background: black;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 1.1rem;
            cursor: pointer;
            transition: background 0.2s;
            margin-top: 55px;
            font-size: 1.3rem;
        }
        .login-btn:hover {
            background: #fdeb99;
            color: black;
        }
        .register-link {
            display: block;
            text-align: center;
            margin-top: 1rem;
            color: black;
            text-decoration: none;
            font-size: 1.1rem;
        }
        .register-link:hover {
            text-decoration: underline;
        }